// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$font16: 16.67px;
$font33: 33.33px;
$font18: 18px;
$fontC137: rgb(137, 137, 137);


blockquote{
  border-left: none;
}

@font-face {
  font-family: 'plight';
  src: url('fonts/proximanovalight/proximanovalight.eot');
  src: local('proximanovalight'), url('fonts/proximanovalight/proximanovalight.woff') format('woff'),
  url('fonts/proximanovalight/proximanovalight.ttf') format('truetype');
}
@font-face {
  font-family: 'pregular';
  src: url('fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'pbold';
  src: url('fonts/Proxima%20Nova%20Bold.otf');
}
.fontsforweb_fontid_12950 {
  font-family: 'plight' !important;
}

/* Font downloaded from FontsForWeb.com */

iframe{
  background-color: #ddd;
}

body{
  font-family: pregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
  &:hover, &:active, &:focus{
    text-decoration: none !important;
  }
}

h1,h2,h3,h4,h5,h6{
  color: #333;
}


.marginY60{
  margin-bottom: 60px;
  margin-top: 60px;
}

.light{
  font-family: plight,"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.rela{position: relative}

.tranCenX{
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}

.tranCenY{
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.tranCen{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.textL{text-align: left}
.textC{text-align: center}

.heiFull{height: 100%}

.full{height: 100%; width: 100%}

.mainColumn{
  @extend .col-lg-8;
  @extend .col-md-8;
  @extend .col-sm-8;
  @extend .col-xs-12;
  padding-right: 25px;
}

.allColumn{
  @extend .col-lg-12;
  @extend .col-md-12;
  @extend .col-sm-12;
  @extend .col-xs-12;
}
.sideColumn{
  @extend .col-lg-4;
  @extend .col-sm-4;
  @extend .col-md-4;
  @extend .col-xs-12;

  img{
      max-width: 100%;
      margin-top: 20px;
      padding-left: 13%;
      padding-right: 13%;
  }
}



@media screen and (max-width: 768px){
  .sideColumn{
    top: 0 !important;
  }
}

.padX35Con{
  img{
    padding-right: 35px;
    padding-left: 35px;
  }
}

.padX5pCon{
  img{
    padding-right: 5%;
    padding-left: 5%;
  }
}

.padX30Con{
  img{
    padding-right: 30px;
    padding-left: 30px;
  }
}

.padX20Con{
  img{
    padding-right: 20px;
    padding-left: 20px;
  }
}

.padX40Con{
  img{
    padding-right: 40px;
    padding-left: 40px;
  }
}
.padX60Con{
  img{
    padding-right: 60px;
    padding-left: 60px;
  }
}

