$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "base";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#mouse{
  position: absolute;
  bottom: 100px;
  height:80px;
  width: 40px;
  @extend .tranCenX;
}

#hero{
  @extend .tranCen;
  h1{
    font-size: 54.17px;
  }
  p{
    font-size: 29.17px;
  }
}


//overwrite
.header{
  margin-bottom: 0;
  border: 0;
}
.header {
  .myNav {
    background-color: white;
    height: 75.33px;
    #brand {
      font-size: 33.33px;
      height: 100%;
      line-height: 100%;
      padding: 21px 15px;
    }
    .navbar-nav > li > a {
      font-size: 16.67px;
      height: 74.33px;
      line-height: 74.33px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

#mainCon{
  position: relative;
  top: 162.33px;

}

#works{
  padding-left: 6%;
  padding-right: 6%;

  .worksItem{
    position: relative;
    margin-bottom: 174px;
    width: 100%;
    .itemLeft {
      img{
        max-width: 100%;
        display: inline-block;
      }
    }
  }
}

.itemRight > h3{
  font-size: 33.33px;
}
.itemRight > p{
  font-size: 16.67px;
  line-height: 2em;
}

.unique{
  position: relative;
  .uniqueImg{
    position: relative;
    img{
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 991.5px){
  .worksItem{
    section{
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  #works{
    h2{
      margin-bottom: 275px;
    }
  }
}

@media screen and (max-width: 991.5px){
  #works{
    h2{
      margin-bottom: 173px;
    }
  }
}
