@import "base";
#worksMainCon{
  padding-top: 75px;
  position: relative;
}


body{
  font-size: $font16;
  line-height: 2em;
  color: $fontC137;
}

.black{
  color: #333;;
}

h3{
  font-size: $font33;
  margin-top: 40px;
  color: #333;
}

h4{
  color: #333;
  font-weight: bold;
}

.showImageCon{
  padding-left: 15px;
  padding-right: 15px;
  img{
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.padX35Con{
  img{
    padding-right: 35px;
    padding-left: 35px;
  }
}

.padX5pCon{
  img{
    padding-right: 5%;
    padding-left: 5%;
  }
}

.padX30Con{
  img{
    padding-right: 30px;
    padding-left: 30px;
  }
}

.padX20Con{
  img{
    padding-right: 20px;
    padding-left: 20px;
  }
}

.padX40Con{
  img{
    padding-right: 40px;
    padding-left: 40px;
  }
}

#tag{
  position: absolute;
  width: 100%;
  section{
    //left: -30px;
  }
}

#heroImg{
  position: relative;
  text-align: center;
  height: 252px;
  max-width: 1366px;
  img{
    height: 100%;
    @extend .tranCenX;
  }
  section{
    position: absolute;
    z-index: 2;
    top: 40px;

  }
}

@media screen and (max-width: 768px) {
  #tag{
    position: relative;
  }
}

