<div id="mainCon" class="textC">
    <section id="works" class="container">
        <h2>SELECTED WORKS</h2>
        <div class="worksItem row" ng-repeat="data in worksData">
            <section class="itemLeft col-md-6 col-lg-6 col-sm-8 col-xs-10 col-md-offset-0 col-lg-offset-0
            col-sm-offset-2 col-xs-offset-1">
                <img src="{{data.left}}">
            </section>
            <section class="itemRight textL col-md-5 col-sm-8 col-lg-5 col-xs-10 col-md-offset-1 col-lg-offset1-
            col-sm-offset-2 col-xs-offset-1">
                <h3>{{data.right.title}}</h3>
                <p>{{data.right.content}}</p>
                <a class="viewMore">VIEW MORE</a>
            </section>
        </div>
    </section>

    <section id="about">
        <h2>ABOUT ME</h2>
        <p></p>

        <div class="unique row" ng-repeat="item in unique" ng-class-even="'uniqueEven'"
             ng-class-odd="'uniqueOdd'">
            <section class="uniqueImg col-md-7 col-sm-8 col-lg-7 col-xs-8">
                <img src="{{item.img}}">
            </section>

            <section class="uniqueWords col-md-5 col-sm-8 col-lg-5 col-xs-8">
                <h3>{{item.intro.title}}</h3>
                <p>{{item.intro.content}}</p>
            </section>
        </div>
    </section>

    <section id="contact">
        <h2>CONTACT</h2>
        <p>
            I’d love to hear from people from all over the world! If you are also interested in
            design, Internet technologies, hacker spirit or startups, feel free to share your ideas
            with me! Also, I spend most of my free time on playing billiards, basketball, soccer
            and beat-box. I’m a big fan of Ronnie O’sullivan, Lebron James and Messi!
        </p>

    </section>
</div>