<div id="mainCon" class="textC">
    <section id="works">
        <h2>SELECTED WORKS</h2>
        <div class="worksItem">
            <section class="itemLeft">
                <img src="../images/main/Hummer.png">
            </section
            ><section class="itemRight textL">
                <h3>Hummer</h3>

            </section>
        </div>
        <div class="worksItem">
            <section class="itemLeft">
                <img src="../images/main/OneArm.png">
            </section
            ><section class="itemRight">

            </section>
        </div>
        <div class="worksItem">
            <section class="itemLeft">
                <img src="../images/main/Headring.png" style="width: 50%"
                ><img src="../images/main/Tracker.png" style="width: 50%">
            </section
            ><section class="itemRight">

            </section>
        </div>

        <div class="workItem"></div>
        <div class="workItem"></div>
        <div class="workItem"></div>
    </section>

    <section id="about">
        <h2>ABOUT ME</h2>
    </section>

    <section id="contact">
        <h2>CONTACT</h2>

    </section>
</div>