<div id="worksMainCon">
    <div id="heroImg">
        <section class="textL">
            <div class="container" style="white-space: nowrap">
                <div style="float: left;position: relative;width: 70px;top: 20px;">
                    <img src="../images/FreeToGo/LOGOEye.png" style="width: 100%">
                </div>
                    <h3 style="white-space: normal">Visualizing Headring</h3>
                    <p style="white-space: normal">
                        A wearable product that allows the visually impaired move freely.
                    </p>
            </div>
        </section>
        <img src="../images/FreeToGo/BG.png">
    </div>

    <div class="container rela">
        <div class="row" id="tag">
            <section class="col-lg-4 col-sm-4 col-md-4 col-lg-offset-8 col-sm-offset-8 col-md-offset-8">
                <h3>Project Details</h3>
                <h4>MY ROLE</h4>
                <p>
                    Project lead, mobile app and hardware designer
                </p>
                <h4>DURATION</h4>
                <p>
                    November, 2014 - January, 2015
                </p>
                <h4>TEAMMATES</h4>
                <p>
                    Tao Meng, Haoyuan Wang, Qiufang Fang
                </p>

            </section>
        </div>

        <div class="" id="detail">
            <section class="row">
                <div class="mainColumn">
                    <h3>Background</h3>
                    <p>
                        The idea arose in 2014 HackShanghai, a college hackathon held by students from NYU Shanghai. In the
                        24 epic hours of development, we built a wearable auxiliary product that helps the blind to avoid
                        obstacles and navigate to a given destination. Our team got in the general top 10 and won the Audience
                        Favorite Prize out of over 80 teams. We continued to improve the product in the following months.
                    </p>
                </div>

            </section>
            <section class="row">
                <div class="mainColumn">

                    <h3>Problem Space</h3>
                    <p>
                        <span>“</span>
                        There are 5 million people estimated to be blind who are of productive age and need independent
                        mobility to work or go to school and be part of the mainstream.
                        Prof. Meenakshi Balakrishnan, Indian Institute of Technology
                    </p>
                    <p>
                        As it is been said above, there is a large number of people who are blind and need to be independent and
                        safe enough while moving. To be safe when going outside, two purposes for blind persons have to be
                        reached:
                    </p>
                    <ul>
                        <li>
                            <span class="black">to effectively avoid the possibly dangerous obstacles; </span>
                        </li>
                        <li>
                            <span class="black">to navigate to the destination by themselves (e.g. home, school, company, etc)</span>
                        </li>
                    </ul>
                    <p>Thus, we wanted to help the visually impaired to move without encountering obstacles, and navigate to
                        a specific destination on their own. We have observed many scenarios in which this group of people use
                        old-school guiding tools for going out. Those tools cannot solve the both problems simultaneously.</p>
                    <ul>
                        <li>
                            <span class="black">The tools help blind persons sense limited distance from obstacles and
                                the range of things. </span>
                            Standard canes, for instance, are poor at detecting obstacles that are above waist height and do
                            not have a touch-point on the ground, such as tree branches sticking out into the path. Besides,
                            they could just sense the things within around one meter. The distance is sometimes too close for
                            people to instantly avoid the obstacles.
                        </li>
                        <li>
                            <span class="black">
                                The blind are not always led to the safe space.
                            </span>
                            Although those guiding tools may help people avoid
                            obstacles, they do not know where is safe and where is not. For example, people might mistakenly
                            think they are walking along with sidewalks when they go across the roads full of cars. Those tools
                            cannot tell the difference.
                        </li>
                        <li>
                            <span class="black">
                                The tools cannot navigate.
                            </span>
                            For the blind people, to find out the destinations is challenging. Guide
                            dogs might help sometimes, but just for the places the dogs are familiar with. Getting to the places
                            they have never been to would be extremely difficult.
                        </li>
                    </ul>
                </div>

                <div class="sideColumn" style="top: 480px">
                    <div class="sideImgCon">
                        <img src="../images/FreeToGo/Tree.png" alt="Tree" />
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="mainColumn">
                    <h3>They Need More Safety While Moving</h3>
                    <p>
                        <span class="black">
                            Get more information on what they face in front of them
                        </span>
                        <br>
                        To address the problems above, the blind-guiding tools should be put into more intelligence. We have
                        conducted a literature review on methods of object recognition and found that there are two major ways
                        to detect objects: ultrasound technology and image recognition. Intensive researchs have been working
                        on improving recognition accuracy of image recognition algorithms. Plus, using ultrasound technology to
                        effectively recognize objects could be costly since it needs several additional devices. Therefore, we
                        chose image recognition as our main technique for obstacle detection. We utilized the principle of
                        Binocular Stereo Vision, which could help our algorithms to reconstruct 3D pictures of the obejects and
                        result in the positions and distances.
                    </p>
                </div>
                <div class="sideColumn rela">
                    <div class="showImageCon" style="top: 480px">
                        <img src="../images/FreeToGo/Algorithm.png">
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="mainColumn">
                    <p>
                        <span class="black">
                            Know which direction they should move to in next step
                        </span>
                        <br>
                        We designed a hardware system, a headring built in two cameras and nine vibration modules towards
                        different directions. Cameras collect and process real-time image flow through the algorithms. When
                        approaching obstacles are detected, corresponding vibration module will vibrate to inform the user to
                        avoid. For example, if there is a tree standing on the left, vibration module towards the left will vibrate so
                        that users could know they should avoid and move to relatively right in next step.
                    </p>
                    <p>
                        Moreover, we developed a mobile app combined with SDK from Google Maps and Baidu Maps. Through
                        Bluetooth headset, the blind can use voice commands to trigger voice navigation to the destination they
                        set and then be guided within the route.
                    </p>
                </div>
                <div class="sideColumn">
                    <div class="showImageCon rela" style="top: 70px">
                        <img src="../images/FreeToGo/HeadringDesign.png">
                        <p class="black" style="text-align: center">Conceptual Design for the Product</p>
                    </div>
                </div>
            </section>

            <div class="row imgColumnOne">
                <img src="../images/FreeToGo/LeftSide.png" class="col-sm-offset-0 col-sm-6 col-xs-12 col-lg-6 col-sm-6">
                <img src="../images/FreeToGo/RightSide.png" class="col-sm-offset-0 col-sm-6 col-xs-12 col-lg-6 col-sm-6">
            </div>

            <section class="row">
                <div class="mainColumn">
                    <p>
                        <span class="black">
                        Be connected with close relatives and friends
                        </span>
                        <br>
                        Our mobile app allows user's relatives or friends to connect with the user. The app constantly keeps track
                        of user's real-time location so that the relatives and friends could be sure user is safe at the moment.
                        When user walks off the supposed route for a specific amount of time, a deviation alert will be sent to
                        relatives and friends.
                    </p>

                </div>
            </section>

            <div class="row showImageCon padX60Con">
                <img src="../images/FreeToGo/Tracker.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1" />
                <img src="../images/FreeToGo/Warning.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1" />
                <img src="../images/FreeToGo/Notification.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3 col-xs-10 col-xs-offset-1" />
            </div>

            <section class="row">
                <div class="mainColumn">
                    <p>
                        User and relatives or friends can have a chat if necessary. If relatives use text message, text-to-speech
                        module powered by iFLYTEK will translate the message into speech, which the blind users can hear.
                        They are also able to use the app to request the cameras to send back the pictures of what the user
                        faces at the time.
                    </p>
                </div>
            </section>

            <div class="row showImageCon padX60Con">
                <img src="../images/FreeToGo/Contact1.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1" />
                <img src="../images/FreeToGo/Contact2.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1" />
                <img src="../images/FreeToGo/Contact3.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3 col-xs-10 col-xs-offset-1" />
            </div>

            <section class="row">
                <div class="mainColumn">
                    <p>
                        As it is proposed above, the whole process involves close interaction among people, hardware and
                        software. Each unit is designed to guarantee the safety of blind users.
                    </p>
                </div>
            </section>

            <section class="row">
                <div class="allImgColumn">
                    <img src="../images/FreeToGo/Flowchart.png">
                </div>
            </section>

            <section class="row">
                <div class="mainColumn">
                    <h3>
                        The Final Prototype
                    </h3>
                    <p>
                        We have iterated the design of the prototype several times. After lots of efforts by our teammates, the
                        recognition accuracy has increased to nearly 50%, and the final prototype could successfully guide
                        people within some specific tracks. Here is our final prototype.
                    </p>

                </div>
            </section>

            <div class="row imgColumnOne" id="twoPic2">
                <div class="col-sm-offset-0 col-sm-6 col-xs-12 col-lg-6 col-sm-6">
                    <img src="../images/FreeToGo/Prototype1.png" class="img1">
                </div>
                <div class="col-sm-offset-0 col-sm-6 col-xs-12 col-lg-6 col-sm-6">
                    <img src="../images/FreeToGo/Prototype2.png" class="img2">
                </div>
            </div>

            <section class="row">
                <div class="mainColumn">
                    <p>
                        <span class="black">
                           Testing the prototype
                        </span>
                    </p>
                </div>
            </section>

            <div class="row imgColumnOne">
                <img src="../images/FreeToGo/Test1.png" class="col-sm-offset-0 col-sm-6 col-xs-12 col-lg-6 col-sm-6">
                <img src="../images/FreeToGo/Test2.png" class="col-sm-offset-0 col-sm-6 col-xs-12 col-lg-6 col-sm-6">
            </div>

            <section class="row">
                <div class="mainColumn">
                    <h3>Personal Thoughts</h3>
                    <p>
                        As we tackled the problems for those who are blind, I felt very deep empathy for the disabled. We
                        cannot imagine how inconvenient for the visually impaired to commute to work or school with the
                        traditional canes or guide dogs unless we immerse ourselves into their situations. Through this project I
                        believe that with the help of rapidly enhancing technologies, the blind would be capable of moving more
                        freely and safely. We hope this project would be a great beginning of the vision.

                    </p>
                    <p class="black">
                        Granted patent: CN204562812 U (http://www.google.com/patents/CN204562812U?cl=zh)
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>