<div id="worksMainCon">
    <div id="heroImg">
        <section class="textL">
            <div class="container">
                <h3>Hummer</h3>
                <p>
                    A game application that aims to help people sing better.
                </p>
            </div>
        </section>
        <img src="../images/Hummer/TitleBG.png">
    </div>

    <div class="container rela">
        <div class="row" id="tag">
            <section class="col-lg-4 col-sm-4 col-md-4 col-lg-offset-8 col-sm-offset-8 col-md-offset-8">
                <h3>Project Details</h3>

                <h4>MY ROLE</h4>
                <p>
                    UX/UI Designer
                </p>

                <h4>PHASE</h4>
                <p>
                    Minimal Version Product
                </p>

                <h4>DURATION</h4>
                <p>
                    June, 2015 - September, 2015
                </p>
                <h4>TEAMMATES</h4>
                <p>
                    Tianlin Shi, Yinhe Zheng, Larry Xiao, Da Tang
                </p>

            </section>
        </div>

        <div class="" id="detail">
            <section class="row">
                <div class="mainColumn">
                    <h3>Background</h3>
                    <p>
                        The idea was derived in 2015 Unique Hack Day,a college hackathon I directed. Afterwards ,
                        I joined the MY ROLE team of four graduate students from Stanford University,
                        UC Berkeley, CMU and Columbia University . I worked as the designer to help launch the product
                        for real users. Hummer aims to help amateur singers perform better through playing the game in which
                        players are required to sing to control a humming bird to go through adventurous terrains.
                        Our vision is to create video games for learning skills.
                        We evaluate learner’s progress,and adaptively change the game to create a learning curriculum.

                    </p>
                </div>

            </section>
            <section class="row">
                <div class="mainColumn">

                    <h3>Problem Space</h3>
                    <p>
                        ln order to better understand the challenges involved and pinpoint the most crucial user demands, we
                        spent one week on using and anatomizing near 10 popular related products, including Sing! by Smule,
                        Rhythm Master by Tencent, SoundHound, ScoreCloud, Changba, etc. We also interviewed with a
                        group of users who are obsessed with these products. From the analysis on products and the feed-
                        backs from users, we had the insights below:
                    </p>
                    <ul>
                        <li>
                        <span class="black">Most of the users started using the products with the initial purpose of enhancing singing skill or
                        musical training.</span> When asked about why they kept playing with such products, people's answers
                            were basically varied> including playing or singing just for fun, getting to meet other users
                            through the platforms, following those senior singers and so on. Yet, another idea is common
                            among them: hoping to improve their singing skills.
                        </li>
                    </ul>
                    <ul>
                        <li>
                        <span class="black">The products gve little systematic feedbacks that are helpful to improve user's singing
                            skill.</span> They are either highly community based Karaoke such as Sing! or exclusively
                            entertaining games like Rhythm Master. Although they may provide scores after finishing a
                            song according to users' performance, users cannot hone their skills of singing through such
                            simple feedbacks.
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <span class="black">People want experiences that Bre both entertaining and educational.</span> They need products that
                            are entertaining and meanwhile are capable of providing them with professional and systematic
                            feedbacks through which they could improve singing performance correspondingly.
                        </li>

                    </ul>

                </div>

                <div class="sideColumn" style="top: 210px">
                    <div class="sideImgCon">
                        <img src="../images/Hummer/Interview1.png" alt="interview" />
                        <img src="../images/Hummer/Interview2.png" alt="interview" />
                    </div>

                </div>

            </section>

            <section class="row">
                <div class="mainColumn">
                    <h3>Solution</h3>
                    <p>
                        In the light of insights above, we brainstormed several feasible ideas for our product. To ensure our
                        methods could be justified in professional way, we have consulted students majoring in Vocal Music
                        from Central Conservatory of Music. Eventually, we came up with the solution below:
                    </p>
                    <h4>
                        Pitch Detection
                    </h4>
                    <ul>
                        <li>
                        <span class="black">We provide users with songs in different levels according to the complexity
                            of pitches.</span> Songs that have relatively narrow ranges of pitches are defined as easy
                            levels, while those having broader ranges of pitches are harder.
                        </li>
                        <li>
                            <span class="black">Users need to go through the game levels from easy to hard.</span> In each level, they are required to
                            sing with correct pitches to catch up the standard pitches. To pass each level, they need to reach
                            more than a specific amount of standard pitches.
                        </li>
                    </ul>
                    <h4>Sense of Rhythm</h4>
                    <ul>
                        <li>
                            <span class="black">The moment users sing in each pitch should match the rhythm.</span> Singing earlier or later than the
                            standard pitch will lower the scores.
                        </li>
                        <li>
                            <span class="black">The difficulty of each level also involves the complexity of rhythms.</span> To pass each level, users
                            need to match more than a specific amount of standard rhythms.
                        </li>
                    </ul>
                    <p>
                        According to the standard above, after users play each Song we will show the scores as a whole to
                        them. Besides, feedbacks that contain which parts users need to improve are also available, and they
                        can choose to go back to practice those parts again and again until they sing good enough to reach
                        the requirements.
                    </p>

                </div>
            </section>
            <section class="row">

                <div class="mainColumn">
                    <h3>The Design</h3>
                    <h4>
                        Pitch Setup
                    </h4>
                    <p>
                        Before getting started, user's pitch would be collected so that our algorithms adapt to user's voice.
                    </p>
                </div>
            </section>
            <div class="row showImageCon padX35Con">
                <img src="../images/Hummer/PitchSetup1.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1" />
                <img src="../images/Hummer/PitchSetup2.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1" />
                <img src="../images/Hummer/PitchSetup3.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3 col-xs-10 col-xs-offset-1" />
            </div>

            <section class="row">
                <div class="mainColumn">
                    <h4>Songs in Progress</h4>
                    <p>
                        Users are accessible to three different songs in each level. Songs in next levels are not available until
                        they pass the songs in the current one. They can also view their performance with the percentage of
                        pitches match and rhythm match. With the feedbacks, users can choose to practice the weak points in
                        each song.
                    </p>
                </div>
            </section>
            <div class="row showImageCon padX3pCon">
                <img src="../images/Hummer/Main.png"
                     class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-2 col-xs-6 col-md-offset-0" />
                <img src="../images/Hummer/Progress1.png"
                     class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-1 col-xs-6 col-md-offset-0" />
                <img src="../images/Hummer/Progress2.png"
                     class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-2 col-xs-6 col-md-offset-0" />
                <img src="../images/Hummer/Progress3.png"
                     class="col-lg-3 col-md-3 col-sm-4 col-sm-offset-1 col-xs-6 col-md-offset-0" />
            </div>
            <section class="row">
                <div class="mainColumn">
                    <h4>
                        Playing the Game
                    </h4>
                    <p>
                        In the game, players sing to control a humming bird and navigate through adventurous terrains. Pitches
                        of the song are displayed as blocks. Players need to sing well enough so that the bird hits the blocks
                        and gain score.
                    </p>
                </div>
            </section>
            <div class="row showImageCon padX35Con">
                <img src="../images/Hummer/Playing.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1" />
                <img src="../images/Hummer/Playing2.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-sm-offset-0 col-xs-offset-1" />
                <img src="../images/Hummer/Playing3.png"
                     class="col-lg-4 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3 col-xs-10 col-xs-offset-1" />
            </div>
            <section class="row">
                <div class="mainColumn">
                    <h3>
                        Our Vision
                    </h3>
                    <p>
                        To us, Hummer is more than a game application. Through this project, we found that with the rapidly
                        advancing technologies people desire simpler tools that can not only bring them intriguing
                        entertainments, but also provide them with educational experiences. We attempt to create video games in which
                        people could master specific skills in an intuitive and simple way.
                    </p>

                </div>
            </section>
        </div>
        <div class="preNextLink">

            <a class="viewMore backToTop"
               href='javascript:$("html").animate({"scrollTop": "0px"},400);$("body").animate({"scrollTop": "0px"},400)'>
                BACK TO TOP
            </a>

            <a class="viewMore next" href="/#oneArm">
                NEXT
                <img src="../images/main/point.png">
            </a>
        </div>
    </div>
</div>
<footer style="color: #333;text-align: center;margin: 15px">© 2015 Junyu Huang. All Rights Reserved</footer>
