<div id="indexView" class="full container">
    <div class="row">
        <div id="hero" class="tranCen">
            <h1>Hi! I'm Junyu</h1>
            <p class="lead">
                I dare to dream big ideas,<br>
                and endeavor to translate them into reality,<br>
                with intuitive design and next-generation technologies.
            </p>
        </div>
    </div>

    <!--
    <div id="mouse">
        <div id="smallMouse">
            <div id="mouseBtn">
            </div>
        </div>
    </div>
    -->
</div>

<div id="mainCon" class="textC">
    <section id="works" class="container">
        <h2 id="worksLink">SELECTED WORKS</h2>
        <div class="worksItem row" ng-repeat="data in worksData" ng-init="pLast=$last"
             style={{pLast?'height:0':''}}>
            <section class="itemLeft col-md-6 col-lg-6 col-sm-8 col-xs-10 col-md-offset-0 col-lg-offset-0
            col-sm-offset-2 col-xs-offset-1">
                <img src="{{data.left}}">
            </section>
            <section class="itemRight textL col-md-5 col-sm-8 col-lg-5 col-xs-10 col-md-offset-1 col-lg-offset1-
            col-sm-offset-2 col-xs-offset-1">
                <h3>{{data.right.title}}</h3>
                <p>{{data.right.content}}</p>
                <a class="viewMore" href="{{data.url}}">VIEW MORE</a>
            </section>
        </div>
    </section>

    <section id="about" class="container">
        <h2 id="aboutLink">ABOUT ME</h2>
        <div class="textL">
            <div class="row">
                <p id="aboutContent" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                    Hi there! My name is Junyu and I’m currently an undergraduate in Digital Media Technology at Huazhong
                    University of Science & Technology. My goal is to be an excellent UX designer that strives to create products
                    that are usable, intuitive and influential. I'm extremely interested in exploring the potential of wearables and
                    mobile applications by learning how they improve people's interactions.
                </p>
            </div>
            <div class="unique row" ng-repeat="item in unique" ng-class-even="'uniqueEven'"
                 ng-class-odd="'uniqueOdd'">
                <section class="uniqueImg col-md-7 col-md-offset-0 col-sm-offset-1 col-sm-10 col-lg-7 col-xs-12">
                    <img src="{{item.img}}">
                </section>

                <section class="uniqueWords col-md-5 col-md-offset-0 col-sm-offset-1 col-sm-10 col-lg-5 col-xs-12">
                    <h3 style="margin-top: 0">{{item.intro.title}}</h3>
                    <p>{{item.intro.content}}</p>
                    <a class="viewMore">VIEW MORE</a>
                </section>
            </div>
        </div>
    </section>

    <section id="contact" class="container">
        <h2 id="contactLink">CONTACT</h2>
        <div class="row">
            <p class="textL col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0"
               id="contactP">
                I’d love to hear from people from all over the world! If you are also interested in
                design, Internet technologies, hacker spirit or startups, feel free to share your ideas
                with me! Also, I spend most of my free time on playing billiards, basketball, soccer
                and beat-box. I’m a big fan of Ronnie O’sullivan, Lebron James and Messi!
            </p>
        </div>

        <div class="content">
            <h4>CONTACT INFO</h4>
            <p>everrocket@gmail.com</p>
            <div id="contactMedia">
                <a>
                    <img src="../images/main/Facebook.png">
                </a>

                <a>
                    <img src="../images/main/LinkedIn.png">
                </a>

                <a>
                    <img src="../images/main/WeChat.png">
                </a>
                <a class="viewMore backToTop" style="margin-left: 60px" href="javascript:window.scrollTo(0,0)">
                    BACK TO TOP
                </a>
            </div>
        </div>
    </section>
</div>

<footer style="color: #333;text-align: center;margin: 15px">© 2015 Junyu Huang. All Rights Reserved</footer>