<div>
    <div id="heroImg">

    </div>

    <div class="" id="tag">
        <section>

        </section>
    </div>

    <div class="" id="detail">
        <section>
            <h3>Background</h3>
            <p>

            </p>

        </section>
        <section>
            <h3>Problem Space</h3>
            <p>

            </p>

        </section>

        <section>
            <h3>Solution</h3>
            <p>

            </p>

        </section>
    </div>

    <div id="fullSection">
        <section>
            <h3>The Design</h3>
            <p>

            </p>
        </section>

    </div>


</div>