<div id="worksMainCon">
    <div id="heroImg">
        <section class="textL">
            <div class="container" style="color: white;white-space: nowrap">
                <div style="float: left;position: relative;width: 87px;top: 46px;height: 100px">
                    <img src="../images/oneArm/Band.png" style="width: 70px;height: auto">
                </div>
                <h3 style="white-space: normal;color: white;margin-bottom: 0">OneArm</h3>
                <p style="white-space: normal">
                    Take control of the things with just one arm.
                </p>
            </div>
        </section>
        <img src="../images/oneArm/BG.png">
    </div>

    <div class="container rela">
        <div class="row" id="tag">
            <section class="col-lg-4 col-sm-4 col-md-4 col-lg-offset-8 col-sm-offset-8 col-md-offset-8">
                <h3>Project Details</h3>

                <h4>MY ROLE</h4>
                <p>
                    Design Lead (Part-time)
                </p>

                <h4>PHASE</h4>
                <p>
                    Demo for fundraising
                </p>

                <h4>DURATION</h4>
                <p>
                    March, 2015 – June, 2015
                </p>
                <h4>TEAMMATES</h4>
                <p>
                    Lin Zhao (Founder & Algorithm Engineer), Panlong Feng (Hardware Engineer), Zhenchao Ma
                    (Software Engineer), Jiahang Li (Algorithm Engineer), Xiaofei Xiong (Marketing)
                </p>
            </section>
        </div>

        <div class="" id="detail">
            <section class="row">
                <div class="mainColumn">
                    <h3>Background</h3>
                    <p>
                        OneArm is the first project in which I was involved as one of the founding members of a startup.
                        We attempted to build a gesture control armband that allows people to control computers and
                        other devices in a simpler way. OneArm recognizes users' gestures by measuring electrical
                        activities (sEMG: Surface Electromyography) from muscles on their arms. We use Bluetooth
                        to connect OneArm and compatible devices. With the software client, users are able to take
                        control of applications on computer or other devices with five basic gestures and their specific
                        combinations.
                    </p>
                </div>

            </section>
            <section class="row">
                <div class="mainColumn">
                    <h3>Insight into Products</h3>
                    <p>
                        Thanks to several major breakthroughs in Gesture Recognition, there came out a number of
                        revolutionary technologies that bring people to more intuitive interaction with machines,
                        such as Kinect, Leap Motion, etc. However, the defects are also apparent: users are limited
                        in specific area of activities to operate the machines, as they detect people's gestures via
                        Image Recognition; people are not able to stay out of the space where the cameras cannot
                        capture. Besides, as people keep further distance from the cameras, the recognition accuracy will decrease.
                    </p>
                </div>


            </section>

            <section class="row">
                <div class="mainColumn">
                    <h3>Designing the Prototype</h3>
                    <p>
                        To break the constraints stated above, we designed an armband which measures electrical activity
                        from people's muscles to identify five basic gestures from their hands. With the help of EMG
                        sensors, we are able to collect the biological data from muscles when people make gestures.
                        After extracting and processing the characteristic information through our algorithms, gestures
                        can be detected.
                    </p>
                    <p>
                        The OneArm armband mainly consists of operational amplifier, instrumentation amplifier, power
                        management integrated circuit,  and microcontroller.
                    </p>
                </div>
            </section>

            <section class="row">
                <div class="allImgColumn">
                    <img src="../images/oneArm/BandDetail.png">
                </div>
            </section>

            <section class="row">
                <div class="mainColumn">
                    <p>
                        We 3D printed the cases that contain electrical components and connect them together using
                        springs to be flexible enough to fit in different sizes of arms.
                    </p>
                </div>
            </section>

            <section class="row">
                <div class="allImgColumn">
                    <img src="../images/oneArm/OnHand.png" style="padding-left: 50px;padding-right: 50px">
                </div>
            </section>


            <section class="row">

                <div class="mainColumn">
                    <h3>Application Client</h3>
                    <p>
                        To let users update the real-time status about their OneArms, make personal settings and connect with
                        compatible applications and devices, we designed the application client. With the client, people are able to
                        switch the device or application controlled to another. We defined five basic gestures for users to operate: fist,
                        double tap, spread fingers, wave right and wave left, which are native and intuitive actions that people easily
                        make to control the things.
                    </p>
                    <h4>
                        User Guide
                    </h4>
                    <p>
                        People will access to the necessary instruction on how to use OneArm. When user tries to make five different
                        basic gestures in User Guide, software's standard model will be calibrated to user's personal data so that our
                        algorithms could detect the gestures quicker. (Below are translations from original design)
                    </p>
                </div>
            </section>
            <section class="row showImageCon padX20Con">
                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/MagicArmBegin.png">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/FIST.png">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/SPREAD.png">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/LEFT.png">
                </div>

            </section>

            <section class="row">
                <div class="mainColumn">
                    <h4>OneArm Manager</h4>
                    <p>
                        With the manager, users can use gestures to switch applications they currently control to another. They can also
                        view or manage the status of their OneArms in Setting.
                    </p>
                </div>
            </section>

            <section class="row showImageCon padX20Con">
                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/Application.png">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/Setting.png">
                </div>
            </section>

            <section class="row">
                <div class="mainColumn">
                    <h3>What Are the Differences from Myo?</h3>
                    <p>
                        The idea of OneArm emerged nearly at the same time with Myo. Lin Zhao, the founder of OneArm, took the
                        original idea of OneArm to participate in Imagine Cup held by Microsoft in April, 2013. OneArm got in the finals
                        and was awarded as the second place in China Division. Meanwhile, the demo video of Myo first came out
                        and greatly aroused people's interest. After Lin Zhao graduated in June, 2014, he decided to start up his own
                        company and turn OneArm into real commercial product.
                    </p>
                    <p>
                        The principles of two products are basically the same; both utilized sEMG to detect people's gestures. Myo
                        has already gained a number of customers and the API is also open to developers, which encourages more
                        applications developed for Myo. OneArm currently is in the phase of demo and looking for Venture Capital.
                    </p>
                    <p>
                        Our vision is to build OneArm for special demands from China's users, cutting in China's market. Thus, we
                        have less complex functions than that of Myo. Myo's market price is 1,600 RMB–2,000 RMB. We are confident
                        that the cost of OneArm could be reduced to around 200 RMB when it goes into production.
                    </p>
                </div>
            </section>

            <section class="row showImageCon padX20Con" style="text-align: center">
                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/ConceptualDesignA.png" style="max-height: 300px">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/ConceptualDesignB.png" style="max-height: 300px">
                </div>

                <p class="black">Conceptual Design of OneArm</p>
            </section>


            <div class="videoCon">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/t2hnLcfpnHo" frameborder="0" allowfullscreen></iframe>
                <p class="black">Demo video of OneArm</p>
            </div>

            <section class="row">
                <div class="mainColumn">
                    <h3>
                        Personal Thoughts
                    </h3>
                    <p>
                        In March, 2015, I was invited by Lin Zhao to join the team as the part-time Design Lead at OneArm. This was
                        my first start-up experience. It was totally different from any projects I have done before; I needed to consider
                        the demands for real-world users, be involved with other team members to fix the problems, learn to clearly
                        illustrate our idea and business objectives to investors and many other things that I learned a lot from.
                    </p>

                    <p>
                        In May, 2015, after I joined the team for nearly three months, we launched our first demo product. We
                        presented OneArm in several entrepreneurial forums and met a lot of investors. Although OneArm did not
                        receive enough funds to continue, I really appreciated the time I spent with the team on working hard to build
                        the product. I have gained lots of valuable experiences about startups and entrepreneurship, which better
                        prepared me for future career with a wider vision.
                    </p>
                </div>
            </section>
        </div>

        <div class="preNextLink">
            <a class="viewMore prev" href="/#hummer">
                <span class="pointL"></span>
                PREVIOUS
            </a>
            <a class="viewMore backToTop"
               href='javascript:$("html").animate({"scrollTop": "0px"},400);$("body").animate({"scrollTop": "0px"},400)'>
                BACK TO TOP
            </a>
            <a class="viewMore next" href="/#freeToGo">
                NEXT
                <span class="pointR"></span>
            </a>
        </div>

    </div>
</div>
<footer style="color: #333;text-align: center;margin: 15px">© 2015 Junyu Huang. All Rights Reserved.</footer>
