<div id="worksMainCon">
    <div id="heroImg">
        <section class="textL">
            <div class="container" style="color: white;white-space: nowrap">
                <img src="../images/oneArm/Band.png" class="rela" style="display: inline-block;top: 11px;">
                <div style="display: inline-block;vertical-align: middle;white-space: normal">
                    <h3 style="color: white;">OneArm</h3>
                    <p>
                        Take control of the things width just one arm.
                    </p>
                </div>

            </div>
        </section>
        <img src="../images/oneArm/BG.png">
    </div>

    <div class="container rela">
        <div class="row" id="tag">
            <section class="col-lg-4 col-sm-4 col-md-4 col-lg-offset-8 col-sm-offset-8 col-md-offset-8">
                <h3>Project Details</h3>

                <h4>MY ROLE</h4>
                <p>
                    Design Lead (Part-time)
                </p>

                <h4>PHASE</h4>
                <p>
                    Prototype for fundraising
                </p>

                <h4>DURATION</h4>
                <p>
                    March, 2015 - June, 2015
                </p>
                <h4>TEAMMATES</h4>
                <p>
                    Lin Zhao, Panlong Feng, Zhenchao Ma, Jiahang Li, Xiaofei Xiong
                </p>
            </section>
        </div>

        <div class="" id="detail">
            <section class="row">
                <div class="mainColumn">
                    <h3>Background</h3>
                    <p>
                        OneArm is the first project in which I was involved as one of the founding members of a startup. We
                        attempt to build a gesture control armband that allows people control computers and other devices in a
                        simpler way. OneArm recognizes users' gestures by measuring electrical activities (sEMG: Surface Electromyography)
                        from muscles on their arms. We use Bluetooth to connect OneArm and compatible devices.
                        With the software client, users are able to take control of applications on computer or other devices
                        with five basic gestures and their specific combinations.
                    </p>
                </div>

            </section>
            <section class="row">
                <div class="mainColumn">
                    <h3>Insight on Products</h3>
                    <p>
                        Thanks to several major breakthroughs in Gesture Recognition, there came out a number of revolution-
                        ary technologies that bring people to more intuitive interaction with machines, such as Kinect, Leap
                        Motion, etc. However, the defects are also apparent: users are limited in specific area of activities to
                        operate the machines, as they detect people's gestures via Image Recognition; people are not able to
                        stay out of the space where the cameras cannot capture. Besides, as people keep further distance
                        from the cameras, the recognition accuracy will decrease..
                    </p>
                </div>


            </section>

            <section class="row">
                <div class="mainColumn">
                    <h3>Designing the Prototype</h3>
                    <p>
                        To break the constrains stated above, we designed an armband which measures electrical activity
                        from people's muscles to identify five basic gestures from their hands. With the help of EMG sensors,
                        we are able to collect the biological data from muscles when people make gestures. Then we trans-
                        form the data into digital signal. After extracting and processing the characteristic information through
                        our algorithms, gestures can be detected.
                    </p>
                    <p>
                        The OneArm armband mainly consists of operational amplifier, instrumentation amplifier,
                        power management integrated circuit, and microcontroller.
                    </p>
                </div>
            </section>

            <section class="row">
                <div class="allImgColumn">
                    <img src="../images/oneArm/BandDetail.png">
                </div>
            </section>

            <section class="row">
                <div class="mainColumn">
                    <p>
                        We 3D printed the cases that contain eletrical components and connect them together using springs to
                        be flexible enough to fit in different sizes of arms.
                    </p>
                </div>
            </section>

            <section class="row">
                <div class="allImgColumn">
                    <img src="../images/oneArm/OnHand.png" style="padding-left: 50px;padding-right: 50px">
                </div>
            </section>


            <section class="row">

                <div class="mainColumn">
                    <h3>Application Client</h3>
                    <p>
                        To let users update the real-time status about their OneArms, make personal settings and interact with
                        compatible applications and devices, we designed the application client. With the client, people are
                        able to switch the device or application controlled to another. We defined five basic gestures for users
                        to operate: fist, double tap, spread fingers, wave right and wave left. which are native and intuitive
                        actions that people make to control the things.
                    </p>
                    <h4>
                        User Guide
                    </h4>
                    <p>
                        People will access to the necessary instruction on how to use OneArm. When user tries to make five
                        different basic gestures in user Guide, software's standard model will be calibrated to user's personal
                        data so that our algorithms could detect the gestures quicker.
                    </p>
                </div>
            </section>
            <section class="row showImageCon padX20Con">
                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/MagicArmBegin.png">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/FIST.png">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/SPREAD.png">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/LEFT.png">
                </div>

            </section>

            <section class="row">
                <div class="mainColumn">
                    <h4>OneArm Manager</h4>
                    <p>
                        With the manager, users can use gestures to switch applications they currently control to another,
                        making the non-mouse experience on computer possible. They can also view or manage the status of
                        their OneArms in Setting.
                    </p>
                </div>
            </section>

            <section class="row showImageCon padX20Con">
                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/Application.png">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/Setting.png">
                </div>
            </section>

            <section class="row">
                <div class="mainColumn">
                    <h3>What Are the Differences from Myo?</h3>
                    <p>
                        The idea of OneArm emerged nearly at the same time with Myo. Lin Zhao, the founder of OneArm,
                        took the original idea of OneArm to participate in Imagine Cup held by Microsoft in April, 2013.
                        OneArm got in the finals and was rewared as the second place in China Division. Meanwhile, the demo
                        video of Myo first came out and greatly aroused people's interest. After Lin Zhao graduated in June,
                        2014, he decided to start up his own company and turn OneArm into real commercial product.
                    </p>
                    <p>
                        The principle of two products are basically the same; both utilized sEMG to detect people's gestures.
                        Myo has already gained a number of customers and the API is also open to developers, which
                        encourages more applications developed for Myo. OneArm currently is in the phase of demo and looking for
                        Venture Capital.
                    </p>
                    <p>
                        Our vision is to build OneArm for special demands from China's users, cutting in China's market. Thus,
                        we have less complex functions than that of Myo. Myo's market price is 1,600RMB - 2,000RMB. We are
                        confident that the cost of OneArm could be reduced to around 200RMB when it goes into production.
                    </p>
                </div>
            </section>

            <section class="row showImageCon padX20Con" style="text-align: center">
                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/ConceptualDesignA.png" style="max-height: 300px">
                </div>

                <div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <img src="../images/oneArm/ConceptualDesignB.png" style="max-height: 300px">
                </div>

                <p>Conceptual Design of OneArm</p>
            </section>


            <section class="row">
                <div class="mainColumn">
                    <h3>
                        Personal Thoughts
                    </h3>
                    <p>
                        In March, 2015, I was invited by Lin Zhao to join the team as the part-time Design Lead at OneArm. This
                        was my first startup's experience. It was totally different from any projects I have done before: I needed
                        to consider the demands for real-world users, be involved with other team members to fix the problems,
                        learn to illustrate the idea to investors clearly and many other things that I learned a lot from.
                    </p>

                    <p>
                        In May, 2015, after joined the team for nearly three months, we eventually launched our first demo.
                        We demonstrated OneArm in several entrepreneurial forums and met a lot of investors, some of which
                        showed interest in funding us_ Although I did not continue to work with the team until OneArm goes
                        into production and gets into the market for customers, I really appreciated the time I spent with them
                        on working hard to build the product. I have gained lots of valuable experiences about startups and
                        entrepreneurship, which better prepared me for future career with a wider vision.
                    </p>
                </div>
            </section>
            <video src=""></video>
        </div>
    </div>
</div>