<div id="worksMainCon">
    <div id="heroImg" style="background-image: url('../images/UniqueStudio/BG.png')">
        <section class="textL">
            <div class="container" style="color: white">
                <h3 style="color: white">Unique Studio</h3>
                <p>
                    Official website 2014 – 2015 version
                    <br>
                    <a style="color: white">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>Website
                    </a>
                </p>
            </div>
        </section>
    </div>

    <div class="container rela">
        <div class="row" id="tag">
            <section class="col-lg-4 col-sm-4 col-md-4 col-lg-offset-8 col-sm-offset-8 col-md-offset-8">
                <h3>Project Details</h3>

                <h4>MY ROLE</h4>
                <p>
                    Designer
                </p>
                <h4>DURATION</h4>
                <p>
                    March, 2015 - June, 2015
                </p>
                <h4>TEAMMATES</h4>
                <p>
                    Kaihang Yang, Weijian Yang
                </p>
            </section>
        </div>

        <div class="" id="detail">
            <section class="row">
                <div class="mainColumn">
                    <h3>Background</h3>
                    <p>
                        Unique Studio, a pioneering student-run studio in HUST that focuses on Internet technologies, updates
                        its official website annually to keep track of tendency of web design as well as update the studio's latest
                        news. As the director of the Design Team of the studio at the time, I was responsible for the design for
                        2014-2015 version.
                    </p>
                </div>
            </section>
            <section class="row">
                <div class="mainColumn">
                    <h3>The Design</h3>
                    <p>
                        To demonstrate the studio, contents were divided into seven parts: Homepage, Introduction, Groups,
                        Accomplishments, Works, Contact and HackDay (Special event). The design are shown as follow.
                    </p>
                </div>
            </section>

            <section class="row">
                <div class="allColumn">
                    <div class="galleryCon">
                        <h4>Home</h4>
                        <div class="imgColumnOne">
                            <img src="../images/UniqueStudio/Homepage.png">
                        </div>
                    </div>

                    <div class="galleryCon">
                        <h4>About</h4>
                        <div class="imgColumnOne">
                            <img src="../images/UniqueStudio/Intro.png">
                        </div>
                    </div>

                    <div class="galleryCon">
                        <h4>Group</h4>
                        <div class="btn-group galleryCtrl" role="group" aria-label="...">
                            <a type="button" class="btn btn-default" href="#carousel-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a type="button" class="btn btn-default" href="#carousel-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>

                        <div class="imgColumnOne">
                            <div id="carousel-generic" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="../images/UniqueStudio/Android.png" alt="Android">
                                        <div class="carousel-caption">
                                            ...
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../images/UniqueStudio/Design.png" alt="Design">
                                        <div class="carousel-caption">
                                            ...
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../images/UniqueStudio/PM.png" alt="PM">
                                        <div class="carousel-caption">
                                            ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="galleryCon">
                        <h4>Recognition</h4>
                        <div class="imgColumnOne">
                            <img src="../images/UniqueStudio/Recognition2.png">
                        </div>
                    </div>

                    <div class="galleryCon">
                        <h4>Works</h4>
                        <div class="btn-group galleryCtrl" role="group" aria-label="...">
                            <a type="button" class="btn btn-default" href="#carousel-generic1" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a type="button" class="btn btn-default" href="#carousel-generic1" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="imgColumnOne">
                            <div id="carousel-generic1" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-generic1" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-generic1" data-slide-to="1"></li>
                                    <li data-target="#carousel-generic1" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="../images/UniqueStudio/Works1.png" alt="Works">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../images/UniqueStudio/Works2.png" alt="Works">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../images/UniqueStudio/Works3.png" alt="Works">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="galleryCon">
                        <h4>Contact</h4>
                        <div class="btn-group galleryCtrl" role="group" aria-label="...">
                            <a type="button" class="btn btn-default" href="#carousel-generic2" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a type="button" class="btn btn-default" href="#carousel-generic2" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="imgColumnOne">
                            <div id="carousel-generic2" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-generic2" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-generic2" data-slide-to="1"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="../images/UniqueStudio/Join.png" alt="Join">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../images/UniqueStudio/Contact.png" alt="Contact">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <video src=""></video>
        </div>
    </div>

    <div class="PNLink container">
        <div class="PLink Link">
            <img src="../images/PreviousProject.png">
            <div>
                <p>Previous Project</p>
                <p>hummer</p>
            </div>
        </div>

        <div class="NLink Link">
            <div>
                <p>Next Previous</p>
                <p>hummer</p>
            </div>
            <img src="../images/NextProject.png">
        </div>
    </div>
</div>
<footer style="color: #333;text-align: center;margin: 15px">© 2015 Junyu Huang. All Rights Reserved</footer>
